body {
  height: 90vh;
  width: 100%;
  /* margin: 6rem 0 0; */
  padding-right: 0;
  background-color: lightgray;
  border-right: 1px red solid;
  box-sizing: border-box;
}

#start-btn {
  display: none;
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 50px; */
  /* height: 500px;
  width: 500px; */
}

#game-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(3, 1, 84);
  gap: 10px;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-right: 1px solid black;
}

#game-info {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: blueviolet;
  border: 1px black solid;
  height: 5%;
  width: 90%;
}

#game-box {
  /* background-color: blue; */
  background-image: url("../images/Background_option3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: visible; /* prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */
}

#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

#air-info {
  display: flex;
  align-items: center;
  background-color: rgb(185, 194, 241);
  width: 100px;
  height: 20px;
  text-align: center;
}

#pictures-info {
  display: flex;
  align-items: center;
  background-color: rgb(185, 194, 241);
  width: 150px;
  height: 20px;
  text-align: center;
}

/* #vital-signs {
  background-color: rgb(185, 194, 241);
  height: 300px;
  width: 20%;
  } */

#game-over-screen {
  display: none;
}

#score {
  background-color: aquamarine;
  position: absolute;
  top: 50px;
  right: 20px;
}

#diver {
  border: 1px solid black;
}

.camara {
}
